.no-icon {
  @apply px-4 py-2;
}

.icon {
  padding: 8px 16px 8px 12px;
}

.btn {
  font-size: 14px;
  margin: 30px;

  @apply h-10 rounded-lg flex flex-row items-center gap-2 leading-18 font-Lexend font-normal;
}

.btn-primary {
  @apply !bg-grey-60 text-white hover:!bg-grey-50 active:!bg-grey-40 m-0;
}

.btn-secondary {
  @apply bg-grey-100 text-white hover:bg-grey-90 active:bg-grey-80 m-0;
}

.btn-special {
  background: linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%);
  @apply text-white rounded-1000  m-0;
}

.btn-special:hover {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.04),
      rgba(255, 255, 255, 0.04)
    ),
    linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%);
  @apply text-white rounded-1000  m-0;
}

.btn-special:focus {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.04),
      rgba(255, 255, 255, 0.04)
    ),
    linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%), #141414;
  @apply text-white rounded-1000  m-0;
}
