@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}

@font-face {
  font-family: "Glysa";
  src: url("../../public/fonts/Glysa.otf");
}

@font-face {
  font-family: "Lexend";
  src: url("../../public/fonts/LexendDeca-VariableFont_wght.ttf");
}

.headline-1 {
  @apply font-Glysa text-white sm:text-[2rem] leading-[3rem] text-[1.5rem];
}

.headline-2 {
  @apply font-Glysa text-white sm:text-[1.5rem] leading-10 text-[1rem];
}

.headline-3 {
  @apply font-Lexend text-white sm:text-[1rem] leading-6 tracking-[1%] text-[0.875rem];
}

.interactive-element {
  @apply font-Lexend text-white sm:text-[0.875rem] leading-5 tracking-[1%] text-[0.75rem];
}

.message {
  @apply font-Lexend text-white sm:text-[0.75rem] leading-3 tracking-[1%] text-[0.6rem];
}
